/GesTurno/nbproject/private/
/build/
.ProjetoGestaoTurnos.vpp.lck
ProjetoGestaoTurnos.vpp.*
ProjetoGestaoTurnos.vux
gestaoTurnos.mwb.mwb
gestaoTurnos.mwb.bak
gestaoTurnos.*.mwb
nbproject/private/private.xml
nbproject/private/
